<div class="card card-cascade narrower mt-5">
  <button (click)="postPerson()">post</button>
<!--Card image-->
<div class="view gradient-card-header purple-gradient narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center">

    <h4 class="black-text font-weight-bold text-uppercase mb-0">People</h4>

</div>
<!--/Card image-->

<div class="px-4">

    <!--Table-->
    <table class="table table-hover table-responsive-md mb-0">

        <!--Table head-->
        <thead>
            <tr>
                    <th class="th-lg">First Name</th>
                    <th class="th-lg">Last Name</th>
            </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
            <tr *ngFor="let person of _people">
                <ng-container>
                  <td>{{person.firstName}}</td>
                  <td>{{person.lastName}}</td>
                </ng-container>
              </tr>
        </tbody>
        <!--Table body-->
    </table>

</div>
</div>